[submodule "backend"]
	path = backend
	url = https://github.com/MostafaMagdySe/Movie-Management
[submodule "frontend"]
	path = frontend
	url = https://github.com/MostafaMagdySe/Movie-Management-Front-End
